.linkLayout {
  color: var(--color-main) !important;
  border-color: var(--color-main) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-height: 30px;
  position: relative;
  position: relative;
  top: 3px !important;

  &:hover {
    background-color: var(--color-main) !important;
    color: var(--color-second) !important;
  }

  span {
    line-height: 1rem;
  }

  span::before {
    font-size: 1rem;
  }
}