.wrapper {
  --color-main: #fac333;
  --color-main-light: rgb(255, 247, 228);
  --color-second: white;
  --spacing: 10px;
  display: inline-flex;
  margin-left: 1rem;
}

@media(max-width: 676px) {
  .wrapper {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 0;
  }
}