.availableLinkElement {
  color: var(--color-main) !important;
  border-color: var(--color-main) !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-height: 30px;

  &:hover {
    background-color: var(--color-main) !important;
    color: var(--color-second) !important;
  }

  img {
    height: 12px;
  }
}