.anchor {
  --color-main: #fac333;
  --color-second: white;
  color: var(--color-main) !important;
  border-color: var(--color-main) !important;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: -10px;

  &:hover {
    background-color: var(--color-main) !important;
    color: var(--color-second) !important;
  }
}